*.png
*.venv
*serv.md
*__pycache__
*.gensim*
*.pkl
*.vercel
.fauna
archived
node_modules
save_dl_nlp
save_valid_json
save_test_db_json

national_assembly_sessions.json
senate_sessions.json
deputies.json
senators.json
votes.json